<div class="container">
  <script src="https://cdn.rawgit.com/webrtc/adapter/master/adapter.js"></script>

  <div class="mt-4 mb-4 text-center">
    <h2>Geofencing Clock In</h2>
  </div>

  <form [formGroup]="form">
    <label for="radius">Radius</label>
    <input type="number"
           class="form-control"
           id="radius"
           formControlName="radius">

    <label for="radius">Latitude</label>
    <input type="number"
           class="form-control"
           id="radius"
           formControlName="targetLat">

    <label for="radius">Longitude</label>
    <input type="number"
           class="form-control"
           id="radius"
           formControlName="targetLng">
  </form>

  <button type="button"
          class="btn btn-warning btn-block mt-4 mb-4"
          (click)="refreshMap()"> Refresh Map</button>

  <div class="mb-4"
       style="width:100%;overflow:hidden;height:400px;max-width:100%;">
    <div id="my-map-canvas"
         style="height:100%; width:100%;max-width:100%;"></div>
    <style>
      #my-map-canvas img {
        max-width: none !important;
        background: none !important;
        font-size: inherit;
      }
    </style>
  </div>

  <button type="button"
          class="btn btn-primary btn-block mt-4 mb-4"
          (click)="clockIn()"> Clock In</button>

  <!-- <a (click)="initiateRecording()"
   class="btn btn-primary"
   *ngIf="!recording"> Start Recording </a>

<a (click)="stopRecording()"
   class="btn btn-danger"
   *ngIf="recording"> Stop Recording </a>

<div class="clearfix"></div>

<audio controls=""
       *ngIf="url">
  <source [src]="sanitize(url)"
          type="audio/wav">
</audio> -->
</div>