<script src="https://cdn.rawgit.com/webrtc/adapter/master/adapter.js"></script>

<h2>Here are the map: </h2>
<button class="btn"
        (click)="clockIn()"> Clock</button>
<div style="width:100%;overflow:hidden;height:250px;max-width:100%;display: none;">
  <div id="my-map-canvas"
       style="height:100%; width:100%;max-width:100%;"></div>
  <style>
    #my-map-canvas img {
      max-width: none !important;
      background: none !important;
      font-size: inherit;
    }
  </style>
</div>

<!-- <a (click)="initiateRecording()"
   class="btn btn-primary"
   *ngIf="!recording"> Start Recording </a>

<a (click)="stopRecording()"
   class="btn btn-danger"
   *ngIf="recording"> Stop Recording </a>

<div class="clearfix"></div>

<audio controls=""
       *ngIf="url">
  <source [src]="sanitize(url)"
          type="audio/wav">
</audio> -->